@charset "UTF-8";

body {
    background-color: #353535;
    /* 배경화면색 : 투명 */

}

table {
    margin: auto;
    border-collapse: collapse;
    width: 40%;
    color: white;

}

th {
    background-color: #036635;
    height: 70px;
}

td {
    height: 35px;

}

th,
td {
    padding: 20 px;
    text-align: center;
}


tr:hover {
    background-color: lightgrey;
}

h1 {
    text-align: center;
}

table,
td,
th {
    border: 1px solid white;
}

p {
    text-align: center;

}
p#d{
    color: white;
}

img {
    width: 120px;
    height: 80px;

}

h1 {
    color: white;
}